.quiz-box fieldset {
  border-color: #356aa0;
  margin-bottom: 1em;
}

.quiz-box legend {
  font-size: 105%;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.quiz-box label {
  display: block;
  line-height: 1.75em;
}

.quiz-box input[type="radio"] {
  margin-right: 10px;
}

.quiz-box input[type="submit"] {
  background: #689dd3;
  border: 1px solid #356aa0;
  color: white;
  display: block;
  font-size: 120%;
  font-weight: 600;
  height: 2.5em;
  margin-top: 2em;
  text-transform: uppercase;
  width: 100%;
}

.quiz-box table {
  color: white;
  font-weight: bold;
  margin: 1em auto 2em auto;
  width: 360px;
}

.quiz-box td {
  padding: 5px 15px;
  text-align: left;
  width: 60px;
}

.quiz-box td.missing-label,
.quiz-box td.score-label,
.quiz-box td.wrong-label {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
}

.quiz-box td.missing-score,
.quiz-box td.score-score,
.quiz-box td.wrong-score {
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  text-align: right;
}

.quiz-box td.missing-label,
.quiz-box td.missing-score {
  background: #c79810;
  border-bottom-color: #946500;
  border-left-color: #946500;
  border-top-color: #946500;
}

.quiz-box td.score-label,
.quiz-box td.score-score {
  background: #6bba70;
  border-bottom-color: #38873d;
  border-top-color: #38873d;
}

.quiz-box td.wrong-label,
.quiz-box td.wrong-score {
  background: #d01f3c;
  border-bottom-color: #9d0009;
  border-right-color: #9d0009;
  border-top-color: #9d0009;
}
